{% extends 'layout.html' %}

{% block content %}
  <article>
    <img src="{{ img }}" />
    <h1>{{ title }}</h1>
    <p>{{ desc }}</p>
    <div class="months">
      {% for month in months %}
        <span {% if month.selected %}class="selected"{% endif %}>{{ month.name }}</span>
      {% endfor %}
    </div>
    <p class="tags">
      {% for tag in tags %}
        <span>{{ tag.name }} {% if tag.check %} <b>&check;</b>{% endif %}</span>
      {% endfor %}
    </p>
    <div class="badges">
      <span class="badge">{{ temp }}&deg;F</span>
      <span class="badge">{{ rain }}in</span>
      <span class="badge">{{ wind }}</span>
    </div>
    <h2>Climate</h2>
    <p>{{ climate }}</p>
    {% if crowds %}
    <h2>Crowds</h2>
    <p>
      {% if season=='High' %} July is High Season, expect it to be crowded. {% endif %}
      {{ crowds }}</p>
    {% endif %}
    <h2>Nearby in July</h2>
    <hr />
    <div class="nearby">
      {% for other in others %}
        <h1>{{ other.title }}</h1>
        <p>{{ other.desc }}</p>
        <p class="tags">
          {% for othertag in other.tags %}
            <span>{{ othertag.name }} {% if othertag.check %} <b>&check;</b>{% endif %}</span>
          {% endfor %}
        </p>
      {% endfor %}
    </div>
  </article>
{% endblock %}